body {
  overflow: hidden;
  height: 100vh;
}

.main-container{
  overflow-y: auto;
  width: 100%;
  padding-left: 100px;
  padding-top:40px;
  padding-bottom: 100px;
}


.content-container{
  overflow-y: auto;
  display: flex;
  height: 100%;
  padding-top: 64px;
}

.application-card{
  padding-top:30px;
  margin-right: 100px;
}

.other-information-container{
  display: flex;
  justify-content: center;
}

.cover_letter{
  width: 800px;
}

.title-container{
  display: flex;
  justify-content: center;
}

.save-button-container{
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.info-button{
  margin-bottom: 40px;
  margin-left: 300px;
  margin-right: 300px;
  width: 150px;
  height: 50px;
}
