<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<app-student-nav-bar></app-student-nav-bar>
<body>
  <div class="content-container">
    <div class="main-container">
      <mat-card class="application-card">
        <div class="title-container">
          <h2 class="title-text">Application</h2>
        </div>

        <div class="upload-documents-container">
          <div class="documents-container">
            <p class="paragraph-text">
              <span class="title-span">Company Name: </span>
              {{ internship!.company.name }}
            </p>
            <br />
          </div>

          <div class="documents-container">
            <p class="paragraph-text">
              <span class="title-span">Job Title: </span>
              {{ internship!.jobTitle }}
            </p>
            <br />
          </div>

          <div class="documents-container">
            <p class="paragraph-text">
              <span class="title-span">Job Position: </span>
              {{ internship!.position }}
            </p>
            <br />
          </div>
        </div>

        <form
          tabindex="0"
          (click)="resetWarnings()"
          (keyup.down)="resetWarnings()"
          [formGroup]="coverLetterFormGroup"
          class="cover-letter-form"
        >
          <div class="other-information-container">
            <mat-form-field
              class="cover_letter"
              appearance="outline"
              color="primary"
            >
              <mat-label>Cover letter</mat-label>
              <textarea
                style="height: 240px"
                class="text-area-cover-letter"
                matInput
                formControlName="coverLetter"
              >
              </textarea>
            </mat-form-field>
            <br />
          </div>
        </form>

        <div class="long-info-wrapper-container">
          <div class="long-info-container">
            <p class="title-span">
              Please upload in "Other files" a single PDF file containing all
              the other relevant diplomas, certificates, results you have!
            </p>
          </div>
        </div>

        <div class="upload-documents-container">
          <div class="documents-container">
            <p>
              <span class="title-span">CV</span>
            </p>
            <input
              (click)="resetWarnings()"
              class="upload-container"
              type="file"
              #file1
              (change)="onFile1Selected($event)"
            />
            <br />
          </div>

          <div class="documents-container">
            <p>
              <span class="title-span">Other files</span>
            </p>
            <input
              (click)="resetWarnings()"
              class="upload-container"
              type="file"
              #file2
              (change)="onFile2Selected($event)"
            />
            <br />
          </div>
        </div>

        <div class="save-button-container">
          <button
            class="info-button"
            mat-raised-button
            (click)="cancel()"
            color="accent"
            type="submit"
            id="form-button"
          >
            Cancel
          </button>
          <button
            [disabled]="!isEnabled()"
            class="info-button"
            (click)="apply()"
            mat-raised-button
            color="accent"
            type="submit"
            id="form-button"
          >
            Apply
          </button>
          <br />
        </div>

        <mat-card class="password-hint" *ngIf="showCreateAccountErrorMessage">{{
          errorMessage
        }}</mat-card>
        <mat-card
          class="password-hint-green"
          *ngIf="showCreateAccountSuccessfulMessage"
          >Application created successfully!</mat-card
        >
      </mat-card>
    </div>
  </div>
</body>
