<app-student-nav-bar></app-student-nav-bar>
<body>
  <div class="content-container">
    <div class="main-container">
      <mat-card class="internship-info-card">
        <div class="title-container">
          <p><span class="title-span">Job Title: </span> {{ 'Job Title 1' }}</p>
        </div>

        <div class="info-container">
          <div class="paragraph-container">
            <p class="info-paragraph">
              <span class="title-span">Company Name: </span> {{ 'Company 1' }}
            </p>
            <p class="info-paragraph">
              <span class="title-span">Salary: </span> {{ '6000' }}
            </p>
          </div>

          <div class="paragraph-container">
            <p class="info-paragraph">
              <span class="title-span">Job Position: </span>
              {{ 'Software Developer Junior' }}
            </p>
            <p class="info-paragraph">
              <span class="title-span">Duration: </span> {{ '12 weeks' }}
            </p>
          </div>

          <div class="paragraph-container">
            <p class="info-paragraph">
              <span class="title-span">Industry: </span> {{ 'IT-Software' }}
            </p>
            <p class="info-paragraph">
              <span class="title-span">Location: </span> {{ 'Cluj Napoca' }}
            </p>
          </div>
        </div>

        <div class="long-info-wrapper-container">
          <div class="long-info-container">
            <p class="title-span">Job Description:</p>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum.
            </p>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</body>
