<app-student-nav-bar *ngIf="isStudent"></app-student-nav-bar>
<app-recruiter-nav-bar *ngIf="!isStudent"></app-recruiter-nav-bar>
<body>
  <div class="content-container">
    <div class="main-container">
      <mat-card class="internship-info-card">
        <div class="title-container">
          <p>
            <span class="title-span">Job Title: </span>
            {{ this.application.internship.jobTitle }}
          </p>
        </div>

        <div class="info-container">
          <div class="paragraph-container">
            <p class="info-paragraph">
              <span class="title-span">Company Name: </span>
              {{ this.application.internship.company.name }}
            </p>
            <p class="info-paragraph">
              <span class="title-span">Salary: </span>
              {{ this.application.internship.salary }}
            </p>
          </div>

          <div class="paragraph-container">
            <p class="info-paragraph">
              <span class="title-span">Job Position: </span>
              {{ this.application.internship.position }}
            </p>
            <p class="info-paragraph">
              <span class="title-span">Duration: </span>
              {{ this.application.internship.duration + ' weeks' }}
            </p>
          </div>

          <div class="paragraph-container">
            <p class="info-paragraph">
              <span class="title-span">Industry: </span>
              {{ this.application.internship.industry }}
            </p>
            <p class="info-paragraph">
              <span class="title-span">Location: </span>
              {{ this.application.internship.location }}
            </p>
          </div>
        </div>

        <div class="long-info-wrapper-container">
          <div class="long-info-container">
            <p class="title-span">Job Description:</p>
            <p>{{ this.application.internship.jobDescription }}</p>
          </div>
        </div>
      </mat-card>

      <mat-card class="internship-info-card">
        <div class="title-container">
          <p>
            <span class="title-span">APPLICATION</span>
          </p>
        </div>

        <div class="title-container">
          <p>
            <span class="title-span">Name: </span>
            {{
              this.application.student.user.forename +
                ' ' +
                this.application.student.user.surname
            }}
          </p>
        </div>

        <div class="info-container">
          <div class="paragraph-container">
            <p class="info-paragraph">
              <span class="title-span">Email: </span>
              {{ this.application.student.user.email }}
            </p>
            <p class="info-paragraph">
              <span class="title-span">Phone Number: </span>
              {{ this.application.student.user.phoneNumber }}
            </p>
          </div>

          <div class="paragraph-container">
            <p class="info-paragraph">
              <span class="title-span">Age: </span>
              {{ this.application.student.age }}
            </p>
            <p class="info-paragraph">
              <span class="title-span">Personal website: </span>
              {{ this.application.student.personalWebsite }}
            </p>
          </div>

          <div class="paragraph-container">
            <p class="info-paragraph">
              <span class="title-span">Location: </span>
              {{ this.application.student.location }}
            </p>
            <p class="info-paragraph">
              <span class="title-span">GPA: </span>
              {{ this.application.student.gpa }}
            </p>
          </div>
        </div>

        <div class="long-info-wrapper-container">
          <div class="long-info-container">
            <p class="title-span">Current institution:</p>
            <p>{{ this.application.student.currentInstitution }}</p>
          </div>
        </div>

        <div class="long-info-wrapper-container">
          <div class="long-info-container">
            <p class="title-span">Study program:</p>
            <p>{{ this.application.student.studyProgram }}</p>
          </div>
        </div>

        <div class="long-info-wrapper-container">
          <div class="long-info-container">
            <p class="title-span">Relevant coursework:</p>
            <p>{{ this.application.student.relevantCoursework }}</p>
          </div>
        </div>

        <div class="long-info-wrapper-container">
          <div class="long-info-container">
            <p class="title-span">Achievements:</p>
            <p>{{ this.application.student.achievements }}</p>
          </div>
        </div>

        <div class="long-info-wrapper-container">
          <div class="long-info-container">
            <p class="title-span">Projects:</p>
            <p>{{ this.application.student.projects }}</p>
          </div>
        </div>

        <div class="long-info-wrapper-container">
          <div class="long-info-container">
            <p class="title-span">Past Experience:</p>
            <p>{{ this.application.student.pastExperience }}</p>
          </div>
        </div>

        <div class="long-info-wrapper-container">
          <div class="long-info-container">
            <p class="title-span">Skills:</p>
            <p>{{ this.application.student.skills }}</p>
          </div>
        </div>

        <div class="long-info-wrapper-container">
          <div class="long-info-container">
            <p class="title-span">Extracurricular Activities:</p>
            <p>{{ this.application.student.extracurricularActivities }}</p>
          </div>
        </div>

        <div class="long-info-wrapper-container">
          <div class="long-info-container">
            <p class="title-span">Languages:</p>
            <p>{{ this.application.student.languages }}</p>
          </div>
        </div>

        <div class="long-info-wrapper-container">
          <div class="long-info-container">
            <p class="title-span">References:</p>
            <p>{{ this.application.student.references }}</p>
          </div>
        </div>

        <div class="long-info-wrapper-container">
          <div class="long-info-container">
            <p class="title-span">Career Objectives:</p>
            <p>{{ this.application.student.careerObjectives }}</p>
          </div>
        </div>

        <div class="long-info-wrapper-container">
          <div class="long-info-container">
            <p class="title-span">Hobbies:</p>
            <p>{{ this.application.student.hobbies }}</p>
          </div>
        </div>

        <div class="long-info-wrapper-container">
          <div class="long-info-container">
            <p class="title-span">Cover letter:</p>
            <p>{{ this.application.coverLetter }}</p>
          </div>
        </div>

        <div class="container-title-documents">
          <p class="title-span">Uploaded documents</p>
        </div>

        <div class="container-buttons">
          <button
            class="download-button"
            (click)="downloadCV()"
            mat-raised-button
            color="accent"
            type="submit"
            id="form-button"
          >
            Download CV
          </button>

          <button
            class="download-button"
            (click)="downloadOthers()"
            mat-raised-button
            color="accent"
            type="submit"
            id="form-button"
          >
            Download Others
          </button>
        </div>

        <mat-card class="password-hint" *ngIf="showCreateAccountErrorMessage">{{
          errorMessage
        }}</mat-card>
      </mat-card>
    </div>
  </div>
</body>
