<mat-card class="application-card">
  <div class="main-container">
    <div class="left-side-data">
      <p>
        <span class="title-span">Name: </span>
        {{
          application.student.user.forename +
            ' ' +
            application.student.user.surname
        }}
      </p>
      <p>
        {{ application.coverLetter }}
      </p>
    </div>

    <div class="middle-side-data">
      <p>
        <span class="title-span">Age: </span>
        {{ application.student.age }}
      </p>

      <p>
        <span class="title-span">Current Institution: </span>
        {{ application.student.currentInstitution }}
      </p>

      <p>
        <span class="title-span">Study Program: </span>
        {{ application.student.studyProgram }}
      </p>
    </div>

    <div class="right-side-data">
      <button
        id="details-button"
        mat-flat-button
        color="accent"
        (click)="viewApplication()"
      >
        Details
      </button>
    </div>
  </div>
</mat-card>
