
.nav-button{

  &-container-left button , &-container-right button{
    background-color: #947dcc;
    cursor: pointer;
    height: 45px;
    width: 180px;
  }

  &-container-right button{
    width: 45px;
    height: 45px;
  }

}

.left-side-buttons{
  width: 600px;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;

}

.topnav {
  background-color: #673AB7;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  position: fixed;
}

