.content-container{
  display: flex;
  height: 100%;
}

body {
  overflow: hidden;
  height: 100vh;
}
main {
  overflow-y: auto;
  margin-top:64px;
  width: 100%;
  padding-left: 20px;
}

.student-home-sidenav {
  border-right:  1px solid #ededed;
  background-color: #ffffff;
  width: 330px;
  padding-top: 64px;
}
