<div>
  <form
    tabindex="0"
    [formGroup]="registerFormGroup"
    (ngSubmit)="createAccount()"
    (click)="resetWarnings()"
    (keyup.down)="resetWarnings()"
  >
    <br />

    <mat-form-field class="forename" appearance="outline" color="primary">
      <input matInput placeholder=" Forename" formControlName="forename" />
    </mat-form-field>
    <br />

    <mat-form-field class="surname" appearance="outline" color="primary">
      <input matInput placeholder=" Surname" formControlName="surname" />
    </mat-form-field>
    <br />

    <mat-form-field class="phone_number" appearance="outline" color="primary">
      <input
        matInput
        placeholder=" Phone number"
        formControlName="phoneNumber"
      />
    </mat-form-field>
    <br />

    <mat-form-field class="email" appearance="outline" color="primary">
      <mat-icon matPrefix>alternate_email</mat-icon>
      <input matInput placeholder=" Email" formControlName="email" />
    </mat-form-field>
    <br />

    <mat-form-field appearance="outline" color="primary">
      <mat-icon matPrefix>lock_open</mat-icon>
      <input
        matInput
        placeholder=" Password"
        [type]="hidePassword1 ? 'password' : 'text'"
        formControlName="password1"
        (click)="resetWarnings()"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hidePassword1 = !hidePassword1"
        type="button"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword1"
      >
        <mat-icon>{{
          hidePassword1 ? 'visibility_off' : 'visibility'
        }}</mat-icon>
      </button>
    </mat-form-field>
    <br />

    <mat-form-field appearance="outline" color="primary">
      <mat-icon matPrefix>lock_open</mat-icon>
      <input
        matInput
        placeholder=" Password"
        [type]="hidePassword2 ? 'password' : 'text'"
        formControlName="password2"
        (click)="resetWarnings()"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hidePassword2 = !hidePassword2"
        type="button"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword2"
      >
        <mat-icon>{{
          hidePassword2 ? 'visibility_off' : 'visibility'
        }}</mat-icon>
      </button>
    </mat-form-field>
    <br />

    <div class="div-role-checkbox">
      <mat-checkbox
        color="primary"
        [checked]="studentChecked"
        (change)="onChange($event, 'student')"
        class="role-checkbox"
        >Student</mat-checkbox
      >
      <mat-checkbox
        color="primary"
        [checked]="recruiterChecked"
        (change)="onChange($event, 'recruiter')"
        class="role-checkbox"
        >Recruiter</mat-checkbox
      >
    </div>
    <br />

    <mat-form-field
      *ngIf="recruiterChecked"
      class="company_name"
      appearance="outline"
      color="primary"
    >
      <input
        matInput
        placeholder=" Company Name"
        formControlName="companyName"
      />
    </mat-form-field>

    <button mat-raised-button color="accent" type="submit" id="form-button">
      Create account
    </button>

    <br />
    <br />
    <mat-card class="password-hint" *ngIf="showCreateAccountErrorMessage">{{
      errorMessage
    }}</mat-card>
    <mat-card
      class="password-hint-green"
      *ngIf="showCreateAccountSuccessfulMessage"
      >Account created successfully!</mat-card
    >

    <br /><br />
  </form>
</div>
