<mat-card class="internship-card">
  <div class="main-container">
    <div class="left-side-data">
      <p>
        <span class="title-span">Job Title: </span> {{ internship.jobTitle }}
      </p>
      <p>
        {{ internship.jobDescription }}
      </p>
    </div>

    <div class="middle-side-data">
      <p>
        <span class="title-span">Job Position: </span>
        {{ internship.position }}
      </p>

      <p>
        <span class="title-span">Company Name: </span>
        {{ internship.company.name }}
      </p>

      <p>
        <span class="title-span">Industry: </span> {{ internship.industry }}
      </p>

      <p>
        <span class="title-span">Location: </span> {{ internship.location }}
      </p>

      <p><span class="title-span">Salary: </span> {{ internship.salary }}</p>

      <p>
        <span class="title-span">Duration: </span>
        {{ internship.duration + ' weeks' }}
      </p>
    </div>

    <div class="right-side-data">
      <button
        id="details-button"
        mat-flat-button
        color="accent"
        (click)="displayDetails()"
      >
        Details
      </button>
    </div>
  </div>
</mat-card>
