<app-student-nav-bar></app-student-nav-bar>
<body>
  <div class="content-container">
    <aside class="student-home-sidenav">
      <mat-form-field class="search-field">
        <mat-label class="search-label"
          >Job position or company name
        </mat-label>
        <input [(ngModel)]="searchValue" class="search-input" matInput />
      </mat-form-field>
      <button
        (click)="fetchSearchedInternshipAnnouncements()"
        mat-flat-button
        class="search-button"
        color="accent"
      >
        Search
      </button>

      <mat-form-field class="filter-field">
        <mat-label class="filter-label">Industry</mat-label>
        <mat-select class="filter-select" [(ngModel)]="selectedIndustry">
          <mat-option [value]="undefined">No filter</mat-option>
          <mat-option *ngFor="let industry of industries" [value]="industry">{{
            industry
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="filter-field">
        <mat-label class="filter-label">Location</mat-label>
        <mat-select class="filter-select" [(ngModel)]="selectedLocation">
          <mat-option [value]="undefined">No filter</mat-option>
          <mat-option *ngFor="let location of locations" [value]="location">{{
            location
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="filter-field">
        <mat-label class="filter-label">Salary</mat-label>
        <mat-select class="filter-select" [(ngModel)]="selectedSalary">
          <mat-option [value]="undefined">No filter</mat-option>
          <mat-option *ngFor="let salary of salaries" [value]="salary">{{
            salary.text
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="filter-field">
        <mat-label class="filter-label">Duration</mat-label>
        <mat-select class="filter-select" [(ngModel)]="selectedDuration">
          <mat-option [value]="undefined">No filter</mat-option>
          <mat-option *ngFor="let duration of durations" [value]="duration">{{
            duration.text
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <button
        mat-flat-button
        class="filter-button"
        color="accent"
        (click)="fetchFilteredInternshipAnnouncements()"
      >
        Filter
      </button>
    </aside>
    <main>
      <app-internship-card
        *ngFor="let internship of internshipAnnouncements"
        [internship]="internship"
      >
      </app-internship-card>
    </main>
  </div>
</body>
