$orange: #f19d38;
$orange-secondary: #e6840b;
$orange-light: #ffe3c0;
$grey-light: #f2f2f2;
$grey-secondary: rgb(200, 200, 200);
$grey-dark: rgb(123, 123, 123);
$white: white;
$grey: rgb(166, 248, 255);
$red: rgb(208, 28, 28);
$green: rgb(61, 176, 61);
$blue: rgb(58, 140, 255);
$pink: #ff8af7;
$pink-secondary: #f193e7;
$pink-light: #f8c6f1;
$yellow: #e3bd26;

